body{
    width: 100%;
}
.navbar {
    color: red;
    position: fixed;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1)
     0%, rgba(9,9,121,1) 67%, rgba(5,4,76,1) 100%, rgba(3,1,48,1) 100%, rgba(0,212,255,1) 100%);
}



.slider-frame{
    width: 1280px;
    height: auto;
    margin: 50px auto 0; 
    overflow: hidden;

   

}

@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.slider-frame ul {
    display: flex;
    padding: 0%;
    width: 400%;

    animation: slide 16s infinite alternate ease-in-out;
}

.slider-frame li{
    list-style: none;
    width: 400%;

}

.slider-frame img {
    width: 100%;
}

.logo {
    height: 70px;
    align-items: center;

}

.portada {
    color: white;
    text-align: center;
    -webkit-text-stroke: 1px red;
   background-size: cover;
   background-attachment: fixed;
   position: relative;

}